<!DOCTYPE html>
<html>

<head>
  <title>Index</title>
  <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
  <div class="main-content">
    {{>header}}
    <h2>{{content}}</h2>

    <form>
      <input placeholder="location">
      <button>Search</button>
    </form>


    <a id="apilink" href="#">
      <p id="message-2"></p>
    </a>
    <p id="message-1"></p>


  </div>
  {{>footer}}
</body>
<script src="/js/clientsidejs.js"></script>

</html>